<!DOCTYPE html>

<html lang="en">

<head>
    <link href="/static/style.css" rel="stylesheet">
    <title> Change password</title>
</head>

<body>
    <div class="container">

        <form class="login-form" action="/changepassword" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="npassword" name="npassword" placeholder="New Password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" required>
            </div>
            <a href="/"> <button type="submit" >change password</button> </a>
        </form>
    </div>

</body>

</html>